<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fire.mahmud.raj_6">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Covid"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".PhotoView" />
        <activity
            android:name=".GaleryPhoto"
            android:screenOrientation="portrait" />

        <service
            android:name=".NoticeSender"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".RestartService"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="RestartService" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ProfileOfShariar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgorPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VerificationCode"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AllStep"
            android:screenOrientation="portrait" />
        <activity
            android:name=".About"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DetailsViewer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Report"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LogIn"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShowCasing"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>